
@font-face {
  font-family: 'NanumBarunpen';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'NanumSquareRound', sans-serif;
}

* {
  margin: 0;
}

.main {
  /* footer 지정을 위해 height, margin 지정 */
  height: 90%;
}

.header {
  padding-left: 1em;
  padding-right: 1em;
  background-color: #81bef7;
  
}

.header > #title {
  padding-bottom: 1em;
  text-align: center;
  color: #ffffff;
}

.context {
  min-height: 100%;
}
/* .content-inside {
    padding: 20px;
    padding-bottom: 50px;
} */
.footer {
  text-align: right;
  margin-top: 15px;
  padding-right: 1em;
  height: 50px;
  color: #c9c9c9;
}
